.grid {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 690px;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
  margin-top: 1%;
  padding: 1% 0;
  grid-template-areas:
    "html html css css js js"
    "react react react node node node";
}
.background {
  width: 100vw;
  height: 45vh;
  background: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--section-spacer-margin);
  padding: 1rem 3rem;
}

.html {
  grid-area: html;
  background: url("../../../../assets/images/html.png") no-repeat center
    center/cover;
  background-size: contain;
  filter: grayscale(100%);
  opacity: 0.7;
}
.css {
  grid-area: css;
  background: url("../../../../assets/images/css2.png") no-repeat center
    center/cover;
  background-size: contain;
  filter: grayscale(100%);
  opacity: 0.7;
}
.js {
  grid-area: js;
  background: url("../../../../assets/images/js2.png") no-repeat center
    center/cover;
  background-size: contain;
  filter: grayscale(100%);
  opacity: 0.7;
}
.react {
  grid-area: react;
  background: url("../../../../assets/images/react.png") no-repeat center
    center/cover;
  background-size: contain;
  filter: grayscale(100%);
  opacity: 0.7;
}
.node {
  grid-area: node;
  background: url("../../../../assets/images/node.png") no-repeat center
    center/cover;
  background-size: contain;
  filter: grayscale(100%);
  opacity: 0.7;
}
