.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: auto;
  background: #ececec;
  margin-top: var(--under-text-margin);
  padding: 1rem 2rem;
}

.technologyImage {
  filter: grayscale(100%);
  opacity: 0.7;
  width: 12rem;
  height: 9rem;
  margin: 3rem 6rem;

}

