.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 44rem;
    margin-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.companyName{
    font-weight: 100;
    text-transform: none;
    margin-top: -.5rem;
    font-size: 1.4rem;
    color: gray;

}

.li{
    text-align: start;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    line-height: 1.5;
}