:root {
  --bgr-main: rgb(255, 255, 255);
  --bgr-transparent: rgba(255, 255, 255, 0.8);
  --bgr-sec: rgb(0, 0, 0);
  --bgr-sec-transparent: rgb(0, 0, 0, 0.8);

  --main-theme-color: #000000;

  --main-effect-speed: 0.15s;

  --navbar-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --btn-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  --prim-margin: 2rem;
  --sec-margin: 1rem;
  --third-margin: 0.5rem;

  --font-size-h1: 9rem;
  --font-size-h2: 2.1rem;
  --font-size-h3: 1.6rem;
  --font-size-p: 2rem;
  --font-size-p2-projects: 1.4rem;
  --font-size-projects-view-arrow: 1.1rem;
  --font-size-button: 1.8rem;
  --font-size-nav-button: 2.1rem;

  --font-weight-bold-h1-h3: 700;
  --font-weight-p: 100;
  --font-weight-bold-p2-projects: 500;
  --font-weight-nav-button: 550;

  --line-height-h1: 7.5rem;
  --line-height-h2: 3.3rem;
  --line-height-h3: 2.4rem;
  --line-height-p: 2.9rem;
  --line-height-button: 2.9rem;
  --line-height-p2-projects: 2.2rem;

  --margin-h1: 10rem 0 1.8rem;
  --margin-h3: 8rem 0;
  --margin-nav-button: 1.5rem 2rem;

  --navbar-height: 6rem;
}
