:root {
  --bgr-main: rgb(255, 255, 255);
  --bgr-transparent: rgba(255, 255, 255, 0.5);
  --bgr-sec: rgb(0, 0, 0);
  --bgr-sec-transparent: rgb(0, 0, 0, 0.9);
  --bgr-light-grey: #ececec;

  --main-theme-color: #000000;
  --p-font-color: #4c4b4b;

  --main-effect-speed: 0.15s;
  --menu-speed: .8s;

  /* Effects for scroll trigger */
  --opacity-speed: 1s;
  --transform-speed:.6s ;
  --scroll-distance: 50px;
  

  --max-width-text: 850px;
  --max-width-content: 970px;

  --navbar-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --btn-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  --section-spacer-margin: 6rem;
  --sec-margin: 3rem;

  --font-size-h1: 9rem;
  --font-size-h2: 2.1rem;
  --font-size-h3: 2.1rem;
  --font-size-h4: 1.6rem;
  --font-size-h5: 1.4rem;
  --font-size-h6: 1.2rem;
  --font-size-p: 1.5rem;
  --font-size-p2-projects: 1.4rem;
  --font-size-projects-view-arrow: 1.1rem;
  --font-size-button: 1.8rem;
  --font-size-nav-button: 2.1rem;
  --font-size-menu-button: 2.1rem;

  --font-weight-bold-h1-h4: 700;
  --font-weight-bold-h5: 500;
  --font-weight-bold-h6: 600;
  --font-weight-p: 0;
  --font-weight-bold-p2-projects: 500;
  --font-weight-nav-button: 550;
  --font-weight-menu-button: 550;

  --line-height-h1: 7.5rem;
  --line-height-h2: 4rem;
  --line-height-h3: 2.4rem;
  --line-height-h4: 2.4rem;
  --line-height-h5: 2.1rem;
  --line-height-h6: 2.1rem;
  --line-height-p: 2.9rem;
  --line-height-button: 2.9rem;
  --line-height-p2-projects: 2.2rem;

  --margin-h1: 18rem 0 1.8rem;
  --margin-h3: 4rem 0 6rem 0;
  --margin-h4: 6rem 0 3rem 0;
  --margin-h5: 0;
  --margin-h6: 0 0 1rem 0;
  --margin-nav-button: 1.5rem 2rem;
  --margin-menu-button: 1.5rem 0.5rem;

  --navbar-height: 6rem;
}
