.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 5rem;
    margin: 1rem;
}
.contactText{
    width: 15rem;
    text-align: left;
}

.icon{
    width: 2rem;
    height: 2rem;
    opacity: 1;
}
