section.contactSection{
    background: black;
    justify-content: flex-start;
    padding-top: 0;
    max-width: none;
    margin-top: 6rem;
}

.contactSection *{
    color: white;
}
h3.contactHeader {
    margin-bottom: 4rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}