section.contactSection{
    background: black;
    justify-content: flex-start;
    padding-top: 0;
}

.contactSection *{
    color: white;
}
h4.contactHeader {
    margin-top: var(--sec-margin);
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}