.iconWrap{
    width: 3.5rem;
    height: 3.5rem;
    background-color: black;
    transition: all var(--main-effect-speed) ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


