@font-face {
  font-family: "JosefinSans";
  src: url(/src/assets/JosefinSans-Regular.ttf);
}

:root {
  font-size: 62.5%;
  color: var(--main-text-color);
  text-align: center;
}

body,
html * {
  font-family: "JosefinSans";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

#root {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

h1 {
  margin: var(--margin-h1);
  line-height: var(--line-height-h1);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold-h1-h4);
}

h2 {
  line-height: var(--line-height-h2);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold-h1-h4);
}

h3 {
  line-height: var(--line-height-h3);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold-h1-h4);
  margin: var(--margin-h3);
}
h4 {
  line-height: var(--line-height-h4);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold-h1-h4);
  margin: var(--margin-h4);
}
h5 {
  line-height: var(--line-height-h5);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold-h5);
  color: #1a1a1a;
  margin: var(--margin-h5);
}
h6 {
  line-height: var(--line-height-h6);
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-bold-h6);
  color: #1a1a1a;
  margin: var(--margin-h6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-p);
  line-height: var(--line-height-p);
  color: var(--p-font-color);
}

/* A class for texts on the page, which defines the layout relatively to the page */
.main-text {
  max-width: 44rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

p.p-2-projects {
  font-size: var(--font-size-p2-projects);
  font-weight: var(--font-weight-bold-p2-projects);
  line-height: var(--line-height-p2-projects);
}

ul {
  list-style: none;
}
.centered-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

main,
section {
  padding-top: var(--navbar-height);
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section {
  max-width: 970px;
}
p.main-text {
}

.header-border-bottom {
  width: 30rem;
  border-bottom: 0.1rem solid black;
}

@media (min-width: 660px) {
  :root {
    font-size: 68%;
  }
  .header-border-bottom {
    width: 40rem;
  }
}

@media (min-width: 960px) {
  :root {
    font-size: 72%;
  }
  .hero {
    background: url(/assets/images/hero_04_desktop.png) no-repeat center
      center/cover;
  }
  .header-border-bottom {
    width: 45rem;
  }
}

@media (max-width: 1100px) {
  h1 {
    margin-top: 20rem;
  }
}
@media (max-width: 820px) {
  h1 {
    margin-top: 24rem;
  }
}
@media (max-width: 660px) {
  h1 {
    margin-top: 20rem;
  }
}
