@font-face {
  font-family: "JosefinSans";
  src: url(/src/assets/JosefinSans-Regular.ttf);
}

:root {
  font-size: 62.5%;
  color: var(--main-text-color);
  text-align: center;
}

body,
html * {
  font-family: "JosefinSans";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

a {
  text-decoration: inherit;
  color: inherit;
}

h1 {
  margin: var(--margin-h1);
  line-height: var(--line-height-h1);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold-h1-h3);
}

h2 {
  line-height: var(--line-height-h2);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold-h1-h3);
}

h3 {
  line-height: var(--line-height-h3);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold-h1-h3);
  margin: var(--margin-h3);
}

h1,
h2,
h3 {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-p);
  line-height: var(--line-height-p);
}

.p-2-projects {
  font-size: var(--font-size-p2-projects);
  font-weight: var(--font-weight-bold-p2-projects);
  line-height: var(--line-height-p2-projects);
}

ul {
  list-style: none;
}
.centered-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
